/* Global Parameters */
*{
    font-family: 'Montserrat', sans-serif;
    border-radius: 0 !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body {
    min-height: 100vh;
    margin: 0;
}
header {
    min-height: 50px;
}
footer {
    min-height: 50px;
}
body {
    display: flex;
    flex-direction: column;
}
article {
    flex: 1;
}
/* disables image saving */
img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
/* hides scrollbar */
*::-webkit-scrollbar {
    display: none;
}
#logo{
    margin: auto;
    font-weight: 900;
}
.accent{
    color: #f9aa0c;
}
.impact{
    font-weight: 700;
}
.min-break{
    height: 4vh;
}
.max-break{
    height: 8vh;
}

/* Navlink Parameters */
.nav-link.active{
    color: #f9aa0c;
    border-bottom: 3px solid #f9aa0c;
}
.dropdown-item:focus, .dropdown-item:hover{
    background-color: #1C2331;
    color: #f9aa0c !important;
}

/* Landing Page Parameters */
.card{
    object-fit: cover;
    border: none;
    padding: 0;
    margin: 20px 0 0 0;
}
.overlay-card {
    margin-top: 20px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.5)
}
.card-link:hover .card-container{
    transition: .5s ease;
    transform: scale(1.1);
}
.card-link:hover .overlay-card{
    transition: .5s ease;
    background-color: rgba(0, 0, 0, .25)
}
.card-container{
    position: relative;
    overflow: hidden;
    height: 50vh;
    width: 100%;
    padding: 0;
    margin: 0;
}
@media (max-width: 600px) {
    .card-container {
        height: 30vh;
    }
}

/* Gallery Parameters */
.gallery-container{
    max-width: 86%;
    margin: 0 auto;
}
.gallery-container .gallery{
    columns: 3;
    gap: 10px;
}
.fourcolumn{
    gap: 20px !important;
    columns: 4 !important;
}
@media (max-width: 600px) {
    .gallery-container .gallery {
        columns: 2 !important;
    }
}
.gallery-container .gallery img{
    background-color: #f9aa0c;
    width: 100%;
}
.four-item{
    margin: 0 0 20px 0 !important;
}
.gallery-item{
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0 0 10px 0;
}
.overlay-gallery {
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.0)
}
.gallery-link:hover .overlay-gallery{
    transition: .5s ease;
    background-color: rgba(0, 0, 0, .40)
}
.caption{
    visibility: hidden;
}
.gallery-link:hover .caption{
    transition: .5s ease;
    visibility: visible;
}
/* Vector Gallery Parameters */
.vector-banner{
    width: 100%;
    height: 50vh;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw;
}
#zodiacdrink{
    background-image: url("/Assets/Vectors/Zodiac Drinks/Zodiac Cover Photo.png");
}
#dragqueentarot{
    background-image: url("/Assets/Vectors/Drag Queen Tarot/Drag Banner.png");
}
.vector-container{
    width: 100%;
    height: 50vh;
    position: relative;
    background-color: rgba(122, 122, 122, .60);
}
.banner-textbox{
    padding: 10px;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px !important;
    background-color: rgba(0, 0, 0, .30);
}
.banner-text{
    vertical-align: middle;
    text-align: center;
    color: white;
}
@media (max-width: 600px) {
    .banner-textbox{
        width: 70%;
    }
    .vector-banner {
        height: 20vh;
    }
    .vector-container{
        height: 20vh;
    }
}

/* About And Contact Parameters */
.content-container{
    max-width: 85%;
}
.deco-image-container{
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.deco-image{
    object-fit: cover;
    border: none;
    max-height: 110vh;
    padding: 0;
    margin: 0;
}

/* Footer Parameters */
.disclaimer{
    margin-top: 0;
    font-size: .75rem;
}
