/* Global Parameters */
*{
    font-family: 'Montserrat', sans-serif;
    border-radius: 0 !important;
    margin: 0;
    padding: 0;
}
#logo{
    margin: auto;
    font-weight: 900;
}
.accent{
    color: #f9aa0c;
}
.impact{
    font-weight: 700;
}
.min-break{
    height: 4vh;
}
.max-break{
    height: 8vh;
}
.overlay{
    margin-top: 20px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding:0;
    overflow: hidden;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.5)
}

/* Navlink Parameters */
.nav-link.active{
    color: #f9aa0c;
    border-bottom: 3px solid #f9aa0c;
}
.dropdown-item:focus, .dropdown-item:hover{
    background-color: #1C2331;
    color: #f9aa0c !important;
}

/* Landing Page Parameters */
.card{
    object-fit: cover;
    border: none;
    padding: 0;
    margin: 20px 0 0 0;
}
.card-link:hover .card-container{
    transition: .5s ease;
    transform: scale(1.1);
}
.card-link:hover .overlay{
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.25)
}
.card-container{
    position: relative;
    overflow: hidden;
    height: 50vh;
    width: 100%;
    padding: 0;
    margin: 0;
}

/* About And Contact Parameters */
.content-container{
    max-width: 85%;
}
.deco-image-container{
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.deco-image{
    object-fit: cover;
    border: none;
    max-height: 110vh;
    padding: 0;
    margin: 0;
}

/* Footer Parameters */
.disclaimer{
    margin-top: 0;
    font-size: .75rem;
}



