*{
    font-family: 'Montserrat', sans-serif;
    border-radius: 0 !important;
}
.nav-link.active{
    color: #f9aa0c;
    border-bottom: 3px solid #f9aa0c;
}
.accent{
    color: #f9aa0c;
}
.dropdown-item:focus, .dropdown-item:hover {
    background-color: #1C2331;
    color: #f9aa0c !important;
}
.disclaimer{
    margin-top: 0;
    font-size: .75rem;
    color: #737373;
}
.break{
    height: 40px;
}
.banner{
    max-width: 80%;
}
.headline{
    margin: auto;
    font-weight: 900;
}
.fcontainer{
    margin: 0;
    padding: 0 3px;
}
.iframe{
    padding: 0;
    margin: 0;
}
.item{
    padding: 0;
    margin: 4px;
}
#logo {
    margin: 0;
    font-weight: 900;
}